## Terraform
# Local state
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Local files
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Directories
**/.terraform/*

# Do NOT ignore lock files (should be committed)
!.terraform.lock.hcl

## IDE
.vscode/
*.tfvars
