## Copy to credentials.auto.tfvars and fill with your values
## Do NOT commit the real file

proxmox_api_url           = "https://<PROXMOX_HOST>:8006/api2/json"
proxmox_api_token_id      = "<USER@REALM!TOKEN_NAME>"
proxmox_api_token_secret  = "<TOKEN_SECRET>"

